@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

@font-face {
  font-family: "Helvetica";
  src: url("/public/fonts/Helvetica-Bold.woff") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/public/fonts/Helvetica.woff") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-helvetica: Helvetica;
  --color-green-star: #00643c;
}


.full-center{
  @apply flex justify-center items-center;
}